@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

@media (max-width: 600px) {

  h1 {
      font-size: 1.2em;
      text-align: center;
    }
  
  nav > ul > li {
    font-size: 12px  !important;
    height: 10% !important;
  }

  nav > ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1 0 100%;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
}


main {
  width: auto;
  height: auto;
  margin: 0px 0px;
  padding: 0;
  background-color: #dc8455;
  color: #514644;
  font-family: Tahoma;
  font-size: 1em;
}

body {
  font-family: Helvetica;
  background-color: white;
  color: #514644;
  height: 200%;
}


fieldset {
  border: none;
  padding: 5px 0;
  border-bottom: 3px solid #3b3b4f

}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  padding-left: 5%;
}

input,
textarea,
select {
  margin: 5px 0 0 0;
  width: 80%;
  min-height: 2em;
  padding-left: 25px;
}

input, textarea {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

a {
  color:  #514644;
}
a:hover {
  background-color: #514644 ;
  color:#efc8b1 ;
  cursor: pointer;
  
}

#logo {
  height: 150px;
  background-color: #efc8b1;
  position: relative;
  object-fit: cover;
}

header {
  width: 100%;
  height: 150px;
  background-color: #efc8b1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

h1, h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h1 {
  font-size: min(5vw, 2.5em);
  text-align: center;
}

p {
  text-align: center;
}
nav {
  width: 50%;
  max-width: 300px;
  height:  100px;
  background-color: #efc8b1;
}

nav > ul {
  background-color: #efc8b1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {

  background-color: #efc8b1;
  color: #514644;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
  font-size: 16px;
}

nav > ul > li:hover {
  background-color: #efc8b1;
  color: #514644;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 130px;
}

input[type="submit"] {
  display: block;
  width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color:#efc8b1;
  border-color:#514644;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}


footer {
  background-color: #efc8b1;
  color: #514644;
  padding: -5px;
  text-align: center;

}

