@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 7vw) {
  h1 {
    font-size: 1.4em;
    text-align: center;
  }
}

html {
  margin: 0;
}

body {
  font-family: Helvetica;
  background-color: white;
  color: #514644;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #514644;
}

a:hover {
  background-color: #514644;
  color: #efc8b1;
  cursor: pointer;
}

#logo {
  width: 12vw;
  background-color: #efc8b1;
  position: relative;
  object-fit: cover;
  padding: 0;
}

header {
  width: 100%;
  height: 9em;
  background-color: #efc8b1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0%;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: max(5vw, 2em);
  text-align: center;
}

h2 {
  font-size: max(4vw, 1.5em);
}

h3 {
  font-size: max(3vw, 1em);
}

nav {
  width: 14vw;
  background-color: #efc8b1;
  align-items: center;
}

nav > ul {
  background-color: #efc8b1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  background-color: #efc8b1;
  color: #514644;
  margin: 0 0;
  padding: 0.7em 0.4em;
  display: block;
  font-size: max(1.3vw, 0.9em);
}

nav > ul > li:hover {
  background-color: #efc8b1;
  color: #514644;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: #514644;
  font-family: Tahoma;
  font-size: 1em;
}

form {
  width: 70vw;
  max-width: 40em;
  min-width: 22em;
  margin: auto auto;
  padding: 0.5em 0 0 0;
  justify-content: center;
}

fieldset {
  padding: 0.5em;
  border: none;
  align-content: center;
  width: 100%;
  display: inline-block;
}

fieldset > * {
  display: block;
  align-items: center;
  justify-content: center;
}

label,
p {
  display: block;
  margin: 0.2em 7vw;
  padding-left: 0.5em;
  font-size: 1em;
}

input,
textarea,
select {
  margin: 1em auto;
  min-height: 2em;
  border-radius: 5px;
  font-size: 0.8em;
}

textarea,
select,
input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
input[type="email"] {
  min-width: 40vw;
  max-width: 70vw;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid black;
  color: #0a0a23;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

h1,
h2,
h3,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: min(5vw, 2.5em);
  text-align: center;
}

h2 {
  font-size: min(4vw, 2.2em);
  text-align: center;
}

h3 {
  font-size: min(2vw, 1.8em);
  text-align: center;
}

p {
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
}
main {
  padding-top: 10em;
}

input[type="submit"] {
  display: block;
  width: 10em;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #efc8b1;
  border-color: #514644;
  width: 5em;
}

footer {
  font-size: 0.7rem;
  background-color: #efc8b1;
  color: #514644;
  padding: -0.3em 0;
  text-align: center;
  bottom: -7em;
  width: 100vw;
  position: fixed;
}

html:not([data-scroll="0"]) footer {
  position: relative;
}
