@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 7vw) {
  h1 {
    font-size: 1.4em;
    text-align: center;
  }
}

html {
  margin: 0;
}

nav > ul > li {
  font-size: 12px !important;
  height: 10% !important;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 0 100%;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

body {
  font-family: Helvetica;
  background-color: white;
  color: #514644;
  padding: 0;
  margin: 0;
}

a {
  color: #514644;
}
a:hover {
  background-color: #514644;
  color: #efc8b1;
  cursor: pointer;
}

#logo {
  height: 14vh;
  background-color: #efc8b1;
  position: relative;
  object-fit: cover;
  padding: 0;
}

header {
  width: 100%;
  height: 9em;
  background-color: #efc8b1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0%;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  font-size: max(5vw, 2em);
  text-align: center;
}

h2 {
  font-size: max(2vw, 0.9em);
}

p {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 1em;
}

nav {
  width: 33vw;
  background-color: #efc8b1;
  align-items: center;
}

nav > ul {
  background-color: #efc8b1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  background-color: #efc8b1;
  color: #514644;
  margin: 0 0;
  padding: 0.7em 0.2em;
  display: block;
  font-size: max(1.3vw, 0.9em);
}

nav > ul > li:hover {
  background-color: #efc8b1;
  color: #514644;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Helvetica;
  background-color: white;
  color: #514644;
  margin-top: 20vh;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 95vw;
  margin: 0 auto;
  padding: 1.25em 5.25em;
}

.gallery img {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 20em;
}

footer {
  background-color: #efc8b1;
  color: #514644;
  padding: -0.3em 0;
  text-align: center;
}

.special {
  display: block;
}
